@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');

@font-face {
  font-family: 'Aligator'; 
  src: url('./Aligator.otf')
}

html, body { 
  
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto' !important; 
  color: white;
  font-size: 9px;
}

#magic {

  position: fixed;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  z-index: -9999;
  
}

.playground{

  position: fixed;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

.bottomPosition{

  text-align: center;
  margin-bottom: 50px;
  
}
.minText{
  
  font-size: 14px;
}

a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;
}

#videoBG {
  position:fixed;
  z-index: -1;
  opacity: .75;
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
      width:100%;
      height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG {       
      height: 100%;
      margin-left: 50vw;
      transform: translate(-50%);      
  }
}


/* next */


body {
	margin: 0px;
}

#container {
	/* Center the text in the viewport. */
	position: absolute;
	margin: auto;
	width: 100vw;
	height: 400pt;
	top: 0;
	bottom: 0;
	
	
	filter: url(#threshold) blur(0.6px);
}

/*text styling */
#text1, #text2 {
	/*color: rgb(153,0,0);*/
	position: absolute;
	width: 100%;
	display: inline-block;
	font-family: 'Aligator';
	font-size: 300pt;
	
	text-align: center;
	
	user-select: none;
  -webkit-text-stroke:1px white;
  -webkit-text-fill-color:black;

}